body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: white;
}

section:first-of-type {
    text-align: center;
}

.get-files {
    user-select: none;
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 12px;
    background: linear-gradient(to right, #ffb347, #ffcc33);
    border-radius: 3px;
    padding: 8px 4px;
    margin-right: 20px;
}
.get-files span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid #fff;
    display: inline-block;
}
.table-cell {
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #fff;
    overflow: hidden;
    height: 100%;
    display: inline-block;
    flex-shrink: 0;
}
.empty-cell {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}
.table-row {
    height: 85px;
    display: flex;
}
.name-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.conflict-cell {
    padding: 10px;
    word-break: break-all;
}